{% extends 'base.html' %}
{% block page_main %}
    <h1>Enter your data</h1>
    <!-- Profile Create Form -->
    <div class="form">
        <form method="post" action="{% url 'create profile' %} " enctype="multipart/form-data">
            {{ form }}
            {% csrf_token %}
{#            {% for field in profile.errors %}#}
{#                {{ field }}:#}
{#                {% for err in field.errors %}#}
{#                    {{ err }}#}
{#                {% endfor %}#}
{#            {% endfor %}#}
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}